:root {
  --hsl-light-grayish-blue: hsl(210, 46%, 95%);
  --hsl-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --hsl-desaturated-dark-blue: hsl(214, 17%, 51%);
  --hsl-grayish-blue: hsl(212, 23%, 69%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--hsl-light-grayish-blue);
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  border-radius: 0.6rem;
  background: white;
}

.cover {
  width: 100%;
  height: 20rem;

  object-fit: cover;
  object-position: 0 30%;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 4rem 3.4rem 0;
}

.title {
  font-family: Manrope;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--hsl-very-dark-grayish-blue);
}

.text-content {
  margin: 2rem 0;
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--hsl-desaturated-dark-blue);
}

.post-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.4rem;
}

.author-content {
  display: flex;
  flex-direction: row;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.6rem;
}

.author-info .title {
  font-size: 1.4rem;
}

.author-info .date {
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--hsl-grayish-blue);
}

.share-button {
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  border-radius: 50%;
}

.active-share-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.4rem;
  height: 8rem;
  background: var(--hsl-very-dark-grayish-blue);
}

.display-none {
  display: none;
}

.buttons-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6rem;
}

.buttons-content .share-text {
  font-family: Manrope;
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--hsl-light-grayish-blue);
}
